/* Colors */
@blue: #20A0FF;

@white: #FFF;
@dark-white: #F9FAFC;

@black: #1F2D3D;
@light-black: #324057;
@extra-light-black: #475669;

@silver: #8492A6;
@light-silver: #99A9BF;
@extra-light-silver: #C0CCDA;

@gray: #D3DCE6;
@light-gray: #E5E9F2;
@extra-light-gray: #EFF2F7;

/* Font Stack */
@default-font-stack: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

/* Navbar */
@navbar-height: 60px;
@navbar-z-index: 1000;

